# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/test/presentation/widgets/goldens/exit_15.png
/test/presentation/widgets/goldens/exit_40.png
/test/presentation/widgets/goldens/exit_70.png
/test/presentation/widgets/goldens/loading_1.png
/test/presentation/widgets/goldens/loading_50.png
/test/presentation/widgets/failures/loading_50_isolatedDiff.png
/test/presentation/widgets/failures/loading_50_maskedDiff.png
/test/presentation/widgets/failures/loading_50_masterImage.png
/test/presentation/widgets/failures/loading_50_testImage.png
/test/presentation/widgets/goldens/loading_100.png
/test/presentation/widgets/failures/loading_100_isolatedDiff.png
/test/presentation/widgets/failures/loading_100_maskedDiff.png
/test/presentation/widgets/failures/loading_100_masterImage.png
/test/presentation/widgets/failures/loading_100_testImage.png
